doc/build/*.aux
doc/build/*.log
doc/build/*.out
doc/build/*.toc
doc/build/*.lof
doc/build/*.lot
doc/build/*.fls
doc/build/*.fdb_latexmk
doc/build/*.synctex.gz
doc/build/*.bbl
doc/build/*.blg
doc/build/*.run.xml
doc/build/*.nav
doc/build/*.snm
doc/build/*.vrb
doc/build/*.idx
doc/build/*.ilg
doc/build/*.ind
doc/build/*.bcf

src/pycache/*