doc/build/
doc/*.aux
doc/*.log
doc/*.out
doc/*.toc
doc/*.lof
doc/*.lot
doc/*.fls
doc/*.fdb_latexmk
doc/*.synctex.gz
doc/*.bbl
doc/*.blg
doc/*.run.xml
doc/*.nav
doc/*.snm
doc/*.vrb
doc/*.idx
doc/*.ilg
doc/*.ind